#img-bg{
    background-image: url('https://cdn.pixabay.com/photo/2016/06/25/12/52/laptop-1478822_960_720.jpg');
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}